@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);

body {
  background-color: #6441A5;
  font-family: Raleway;
}
#pageTitle {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  color: #6441A5;
}

#disp {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 150px auto;
  border-radius: 15px;
}
.cadre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: ;
  border-style: solid;
  border-width: 5px;
  height: 130px;
  width: 130px;
}
.info{
  margin-top: 20px;

}
.info p{
  text-align: center;
}
.inp{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#chg {
    display: block;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#channel {
  font-size: 30px;
  font-weight: bold;
}
#status{
  font-size: 24px;
}
#title{
  font-size: 24px;

}
#game{
  font-size: 20px;
  font-style: italic;
}
img{
  height: 120px;
}
